.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  --resize-handle-width: 4px;
  --resize-handle-hover-color: #3b82f6;

  --sidebar-bgcolor: #e5e5e5;
  --sidebar-button-hover-color: #d6d3d1;
  --sidebar-button-active-bgcolor: #a3a3a370;
  --sidebar-button-focus-outline: #38bdf8;
  --sidebar-button-focus-bgcolor: #2563eb;
  --sidebar-button-focus-textcolor: #fafafa;
}
.sidebar {
  height: 100%;
  overflow: auto;
  padding: 0.5rem 0;
  font-size: 14px;
  background-color: var(--sidebar-bgcolor);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  /* min-width: fit-content; */
}
.workspace {
  position: relative;
  height: 100%;
  flex-grow: 1;
  padding-left: var(--resize-handle-width);
}
.screen {
  width: 100%;
  height: 100%;
}
.resize-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--resize-handle-width);
  height: 100%;
  cursor: ew-resize;
  background-color: var(--sidebar-bgcolor);
  transition-property: background-color;
  transition-duration: 300ms;
  transition-delay: 300ms;
}
.resize-handle:hover,
.resize-handle:active {
  background-color: var(--resize-handle-hover-color);
}
#awast-iframe {
  display: block; /* iframes are inline by default */
  border: none; /* Reset default border */
  height: 100%;
  width: 100%;
}
.sidebar .disclosure {
  padding: 0 0.5rem;
}
.sidebar .disclosure-button {
  display: block;
  padding: 0 0.5rem;

  /* Text ellipsis on overflow */
  width: 100%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sidebar .disclosure-button:hover {
  background-color: var(--sidebar-button-hover-color);
}
.sidebar .disclosure-panel {
  padding-left: 0.5rem;
}
.sidebar .disclosure-panel-item {
}
.sidebar .disclosure-panel-item > button {
  display: block;
  padding: 0 0.5rem;

  /* Text ellipsis on overflow */
  width: 100%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sidebar .disclosure-panel-item > button:hover {
  background-color: var(--sidebar-button-hover-color);
}
.sidebar .disclosure-button:focus,
.sidebar .disclosure-panel-item > button:focus {
  outline: solid 1px var(--sidebar-button-focus-outline);
  background-color: var(--sidebar-button-focus-bgcolor);
  color: var(--sidebar-button-focus-textcolor);
}
.sidebar
  .disclosure-panel-item.disclosure-panel-item-active
  > button:not(:focus) {
  background-color: var(--sidebar-button-active-bgcolor);
}
