.wrapper {
  @apply flex items-center justify-between;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
}
h1 {
  @apply ml-2.5 my-1.5 inline-block font-black text-[20px] leading-4 align-top;
}
button + button {
  @apply ml-2.5;
}
.welcome {
  @apply mr-2.5 text-[14px] text-gray-800;
}
